@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

body, html {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    overflow-x: hidden;
    font-family: 'Quicksand';
    scroll-behavior: smooth;
}

/* --------------Navbar---------------- */

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    color: whitesmoke;
    position: absolute;
    top: 0;
    width: 100%;
}

.navbar div .dropdown {
    display: flex;
}

.navbar div ul {
    display: none;
}

.navbar div {
    display: flex;
    gap: 16px;
}

.navbar div img {
    width: 30px;
}

.navbar div .logo {
    width: 60%;
}

.navbar span {
    font-size: 2rem;
    padding: 0;
    margin: 0rem;
}


/* Nascondi il dropdown content per default */
.navbar div .dropdown-content {
    display: none;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
      background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    height: 300px;
    width:80%;
    background-color: #fff;
    padding: 10px;
    z-index: 2;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1.3rem;
    line-height: 36px;
  }

  .dropdown-content a:hover {
    text-decoration: underline;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    width: 156px;
  }
  

















/* --------------Hero---------------- */

.hero {
    height: 100vh;
    background-image: url("./assets/img/mobile/00_hero.jpg");
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.656) , rgba(0, 0, 0, 0.39));
  }

.hero-content {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.hero-content {
    position: absolute;
width: 164px;
height: 23px;
left: calc(50% - 164px/2 - 0.5px);
top: calc(50% - 23px/2 - 76px);
font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: center;
letter-spacing: 2.25px;

}

.hero-content p {
    font-weight:lighter;
    font-weight: 100;
font-size: 1rem;
letter-spacing: 2.25px;
margin: 0;
}

.hero-content .hero-txt {
font-weight: 300;
font-size:1.6rem;
line-height: 32px;
letter-spacing: 0.5px;
padding: 0;
}

.show-collection {
    box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding:22px 30px;
gap: 10px;
text-decoration: underline;
text-underline-offset: 8px;
position: absolute;
left: 7.47%;
right: 7.47%;
top: 88.89%;
bottom: 3.7%;
font-family: 'Quicksand';
border: 1px solid #FFFFFF;
letter-spacing: 3px;
margin-top: 0px;
cursor: pointer;
}

/* --------------Novità----------------- */

.novita {
    padding: 0 20px;
}

.novita p{
    color: #474E4B;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 100;
    padding: 20px;
}

.slider {
    position: relative;
    width: 90vw;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  
  .slider::-webkit-scrollbar {
      display: block;
    height: 6px;
  }
  
  .slider::-webkit-scrollbar-track {
    background: #f9f7f7;
  }
  
  .slider::-webkit-scrollbar-thumb {
    background: #474E4B;
    width: 10px;
    border-radius: 4px;
  }
  
  .slides {
    display: flex;
    gap: 26px;
    width: 100%;
    height: 100%;
  }
  
  .slides img {
    width: 25%;
    height: 100%;
  }

  .novita-txt {
      padding: 20px 0;
  }

  .novita-txt p{
      text-align: left;
      font-size: 1rem;
      padding: 0;
  }

  .novita .show-novita {
    font-size: .9rem;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 8px;
    letter-spacing: 3px;
    cursor: pointer;
  }


/* --------------Collezioni----------------- */

.collezioni {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.collezioni img {
    width: 325px;
    height: 450px;
}

.collezioni p{
    color: #474E4B;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 100;
    padding: 20px;
}

.collezioni .show-collezioni {
    margin-top: -30px;
    font-size: .9rem;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 8px;
    letter-spacing: 3px;
    cursor: pointer;
  }


/* --------------Inspirations----------------- */

  .inspirations {
    color: #474E4B;
      height: 675px;
    background: #E1E1DF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .inspirations  img {
    width: 325px;
    height: 450px;
}

.inspirations p{
    color: #474E4B;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 100;
    padding: 20px;
}

.inspirations  .show-inspirations{
    margin-top: -30px;
    font-size: .9rem;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 8px;
    letter-spacing: 3px;
    cursor: pointer;
}

/* --------------Progetti----------------- */

.progetti {
    height: 375px;
    background-image: url("./assets/img/desktop/06_progetti.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay-progetti {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 375px;
    background:#00000063;
  }

  .progetti p{
    text-align: center;
    font-size: 1.6rem;
    font-weight: 100;
    padding: 20px;
    z-index: 1;
}

.progetti  .show-progetti{
    margin-top: -30px;
    font-size: .9rem;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 8px;
    letter-spacing: 3px;
    cursor: pointer;
}

/* --------------Studio----------------- */

.studio {
    color: #474E4B;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.studio p{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 100;
    z-index: 1;
    text-align: left;
    padding: 20px 60px;
}

.studio .show-studio{
    color: #474E4B;
    margin-top: -30px;
    font-size: .9rem;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 8px;
    letter-spacing: 3px;
    cursor: pointer;
}

/* --------------Stories----------------- */

.stories {
    padding: 0 20px;
}

.stories p{
    color: #474E4B;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 100;
    padding: 20px;
}

.slider {
    position: relative;
    width: 90vw;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  
  .slider::-webkit-scrollbar {
      display: flex;
    height: 6px;
  }
  
  .slider::-webkit-scrollbar-track {
    background: #f9f7f7;
  }
  
  .slider::-webkit-scrollbar-thumb {
    background: #474E4B;
    width: 10px;
    border-radius: 4px;
  }
  
  .slides {
    display: flex;
    gap: 26px;
    width: 400%;
    height: 100%;
  }
  
  .slides img {
    width: 275px;
    height: 350px;
  }

  .stories-txt {
      padding: 20px 0;
  }

  .stories-txt p{
      text-align: left;
      font-size: 1rem;
      padding: 0;
  }

  .stories-txt .stories-txt-p {
    font-size: 1.1rem;
    margin-bottom: -12px;
}


  .stories .show-stories {
    font-size: .9rem;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 8px;
    letter-spacing: 3px;
    padding: 20px 0 50px 0;
    cursor: pointer;
  }

/* --------------Contatti----------------- */

.contatti {
    height: 375px;
    background: #474E4B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.contatti p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 20px;
}

.contatti .contatti-txt {
    font-size: 1.2rem;
    line-height: 30px;
    font-weight: 100;
    margin-top: -50px;
}

.contatti .show-contatti{
    color: whitesmoke;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    font-family: 'Quicksand';
    border: 1px solid #FFFFFF;
    letter-spacing: 3px;
    font-size: 1rem;
    margin-top: -10px;
    cursor: pointer;
  }

.checkbox {
    padding: 20px;
}

label {
    font-weight: 100;
}

/* --------------Footer----------------- */

footer {
    height: 625px;
    background-color: #B18A76;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 0 0;
}

footer .top-footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

footer .top-footer img {
    width: 25%;
}
 
.top-footer .change-language {
    display: flex;
    align-items: center;
    gap: 5px;
}

.info {
    align-self: flex-start;
    padding: 20px;
}

.links {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.links div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.links a {
    color: #000;
}

hr {
    width: 90%;
    border: 1px solid #474E4B;
    margin: 40px 0;
}

footer .icons {
    display: flex;
    align-items: center;
    gap: 26px;
}

footer .policy {
    display: flex;
    gap: 40px;
    margin-top: -20px;
}

.policy a {
    color: #000000;
}

/* ----------Top scroll------------- */
.topscroll {
    background: #c3bfb9a1;
    border: none;
    border-radius: 100%;
    padding: 20px 20px;
    cursor: pointer;
}

#back-to-top-button {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
}

/* animazione del bottone quando appare e scompare */
#back-to-top-button.fade-in {
	animation: fadeIn 0.3s forwards;
    animation: pingpong 4s ease-in-out infinite;
}

#back-to-top-button.fade-out {
	animation: fadeOut 0.3s forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes pingpong {
    0% {
        transform: translatey(0px);
      }
  
      50% {
        transform: translatey(-40px);
      }
  
      100% {
        transform: translatey(0px);
      }
  }






/* Regole CSS da applicare per la versione desktop */
@media screen and (min-width: 678px) {

/* --------------Navbar---------------- */

.navbar {
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    width: 94vw;
}

.navbar div .dropdown {
    display: none;
}

.navbar div ul {
    display: flex;
    gap: 30px;
}

ul li {
    list-style: none;
}

ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

/* --------------Hero---------------- */

.hero {
    height: 900px;
    background-image: url("./assets/img/desktop/00_hero\ \(1\).jpg");
    background-position: center;
}

.overlay {
    height: 900px;
  }

.hero-content {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.hero-content p {
    font-weight:lighter;
    font-weight: 100;
font-size: 1rem;
letter-spacing: 2.25px;
margin: 0;
}

.hero-content .hero-txt {
font-weight: 500;
font-size:4rem;
line-height: 66px;
letter-spacing: 0.5px;
padding: 0;
width: 700px;
margin-left: -270px;
}

.show-collection {
height: 60px;
width: fit-content;
position: absolute;
left: 37%;
font-family: 'Quicksand';
border: 1px solid #FFFFFF;
letter-spacing: 3px;
margin-top: -100px;
cursor: pointer;
}

/* --------------Novità----------------- */

.novita {
    padding: 0 60px;
    position: relative;
}

.novita p{
    color: #474E4B;
    text-align: left;
    font-size: 1.6rem;
    font-weight: 100;
    margin-left: -20px;
}

.novita .slider {
    position: relative;
    width: 100vw;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-left: -60px;
  }
  

  .novita .slider::-webkit-scrollbar {
    display: block;
    height: 6px;
  }
  
  .novita .slider::-webkit-scrollbar-track {
    background: #f9f7f7;
  }
  
  .novita .slider::-webkit-scrollbar-thumb {
    background: #474E4B;
    width: 10px;
    border-radius: 4px;
  }
  
  .novita .slider .slides {
    display: flex;
    gap: 60px;
  }

  .novita .slides div {
      display: none;
  }
  
  .novita .slider .slides img {
    width: 565px;
    height: 700px;
  }

  .novita-txt {
      padding: 20px 0;
  }

  .novita-txt p{
      text-align: left;
      font-size: 1rem;
      margin-left: 60px;
  }

  .novita .show-novita {
    position: absolute;
    right: 50px;
    top: 0;
  }


/* --------------Collezioni----------------- */

.collezioni {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 40px;
}

.collezioni img {
    width: 600px;
    height: 600px;
    position: absolute;
    left: 100px;
    top: 140px;
}

.collezioni p{
    position: absolute;
    left: 25%;
    top: 0;
}

.collezioni .show-collezioni {
    position: absolute;
    left: 26%;
    top: 100px;
  }


/* --------------Inspirations----------------- */

  .inspirations {
    color: #474E4B;
      height: 675px;
      width: 40%;
      height: 800px;
      margin-left: 60%;
      margin-top: -30px;
      margin-bottom: 40px;

  }

  .inspirations  img {
    width: 425px;
    height: 550px;
}


/* --------------Progetti----------------- */

.progetti {
   margin: 60px;
   height: 560px;
}

.overlay-progetti {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 560px;
    background:#00000063;
  }

  .progetti p{
    text-align: center;
    font-size: 1.6rem;
    font-weight: 100;
    padding: 20px;
    z-index: 1;
}

.progetti  .show-progetti{
    margin-top: -30px;
    font-size: .9rem;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 8px;
    letter-spacing: 3px;
    cursor: pointer;
}

/* --------------Studio----------------- */

.studio {
    color: #474E4B;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 120px;
}

.studio p{
    font-size: 1.6rem;
    width: 900px;
}

.studio .show-studio{
    color: #474E4B;
    margin-top: -30px;
    font-size: .9rem;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 8px;
    letter-spacing: 3px;
    cursor: pointer;
}

/* --------------Stories----------------- */

.stories {
    background: #E1E1DF;
    position: relative;
    padding-top: 120px;
}

.stories p{
    position: absolute;
    top: 20px;
    left: 60px;
}

.slider {
    position: relative;
    width: 90vw;
    overflow-x: hidden;
  }
  
  .slider .scrollbar {
    display: none;
  }
  
  
  .slider .slides {
      padding: 0 60px;
    display: flex;
    gap: 26px;
    width: 400%;
  }
  
  .slider .slides img {
    width: 340px;
    height: 470px;
  }

  .slides div {
      display: block;
    border: 1px solid #C3BFB9;
      height: 470px;
  }

  .stories-txt {
      padding: 20px 0;
      margin-left: 60px;
      width: 340px;
  }

  .stories-txt p{
      text-align: left;
      font-size: 1rem;
      padding: 0;
     position: static;
    }

  .stories-txt .stories-txt-p {
    font-size: 1.1rem;
    margin-bottom: -12px;
}

  .stories .show-stories {
    right: -64%;
    top: 30px;
  }

/* --------------Footer----------------- */

footer {
    position: relative;
}

footer .top-footer {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

footer .top-footer img {
    width: 10%;
}
 
.top-footer .change-language {
    display: flex;
    align-items: center;
    gap: 5px;
}

.info {
    align-self: flex-start;
    padding: 60px;
}

.links {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    top: 25%;
    right: 20%;
}

.links div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
}

.links a {
    color: #000;
}

.hr2 {
    display: none;
}

footer .icons {
    position: absolute;
    left: 60px;
    bottom: 18%;
}

footer .policy {
    position: absolute;
    right: 60px;
    bottom: 18%;
}

.policy a {
    color: #000000;
}


   
  }